@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBall{
  @apply  bg-gradient-to-r from-[#33340E] from-5% via-[#4C4D16] via-65% to-[#B1B333] to-100%  overflow-hidden rounded-full absolute
}

.pry-animated-button {		
	position: relative;	
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
	

	
}

.pry-animated-button:before, .pry-animated-button:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
  top: 0;
	width: 0;
	height: 100%;
	
}


.pry-animated-button:hover {
	color: #F07127;
	transition-delay: .5s;
}

.pry-animated-button:hover:before {
	transition-delay: 0s;
	
}

.pry-animated-button:hover:after {
	border: 1px solid #F07127;
	transition-delay: .35s;
	background-color:pink;
}




.pry-animated-button:before {
	left: 0;
	color: white;
	
	border-left: 0;
	border-right: 0;	
}

.pry-animated-button:after {
	right: 0;
	
}

.pry-animated-button:hover:before,
.pry-animated-button:hover:after {
	width: 100%;
}

.animated-button {		
	position: relative;	
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.animated-button:before, .animated-button:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
  top: 0;
	width: 0;
	height: 100%;
}


.animated-button:hover {
	color: white;
	transition-delay: .5s;
}

.animated-button:hover:before {
	transition-delay: 0s;
}

.animated-button:hover:after {
	background: #F07127;
	transition-delay: .35s;
}




.animated-button:before {
	left: 0;
	border: 1px solid #F07127;
	border-left: 0;
	border-right: 0;	
}

.animated-button:after {
	right: 0;
}

.animated-button:hover:before,
.animated-button:hover:after {
	width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
